<!DOCTYPE html>
<html ng-app="homeApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pathway Graph</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/pathway-graph.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body ng-controller="HomeCtrl as ctrl">

  <nav class="navbar navbar-fixed-top navbar-pw">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand logo">PATHWAY GRAPH</div>
      </div>
    </div>
  </nav>

  <div class="container">
      <form name="form" id="form">
        <div class="form-group form-json col-md-offset-2 col-md-8">
          <div ng-messages="form.txt_json.$error">
            <div class="alert alert-warning text-center" ng-message="json"> Please, provide a valid JSON. </div>
          </div>
          <label for="txt_json" style="font-size: 24px">JSON Editor</label>
          <textarea class="form-control editor" rows="5" id="txt_json" name="txt_json" placeholder="Type your JSON here..." ng-model="json" required json-validator></textarea>
          <button type="submit" class="btn btn-primary btn-json col-md-offset-5 col-md-2" ng-click="ctrl.loadJson(form.txt_json.$valid)">Load Json</button>
        </div>  
      </form>  
  </div>

  <div class="container" ng-show="steps.length > 0">
      <div class="col-md-6" ng-show="currentStep">
        <div class="box">
          <div class="box-header">
            <i class="fa fa-info" aria-hidden="true"></i>
            Step Information
          </div>
          <div class="box-body">
            <div style="font-size: 20px;">{{currentStep.key}}</div>
            <div class="description">{{currentStep.description}}</div>
            <div style="padding-top: 20px">
              <div class="question-answer">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i> {{currentStep.question}}
                <div>
                  <ul>
                    <li ng-repeat="answer in currentStep.answers">
                      <input value="{{answer}}"/>
                    </li>
                  </ul>
                </div>
              </div>  
            </div>
          </div>
        </div>  
    </div>
    <div class="col-md-6">
      <div id="flow_chart" class="box box-chart"></div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted text-center">Pathway graph - 2016</p>
    </div>
  </footer>


  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.6.7/go-debug.js"></script>
  <script src="assets/js/icons.js"></script>

  <!-- APP imports -->
  <script src="app.module.js"></script>
  <script src="app.ctrl.js"></script>

</body>
</html>
